.p-r-55 {
  padding-right: 55px;
}
.p-l-55 {
  padding-left: 55px;
}
.p-l-80 {
  padding-left: 80px;
}
.p-b-55 {
  padding-bottom: 55px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-t-55 {
  padding-top: 55px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-r-10 {
  margin-right: 10px;
}
